[Unit]
Description=PullSubscription
Before=multi-user.target

[Service]
#User=stellar
#Group=stellar
LimitNOFILE=8192
#EnvironmentFile=/etc/default/stellar-horizon
ExecStart=/home/huykbc/pullsubscription -prod=true
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartPreventExitStatus=255
Type=simple

[Install]
WantedBy=multi-user.target